*
{
	margin: 0;
}


body
{
background-color: #DCDCDC;
}
.main
{
	position: absolute;
  width: 100%;
  height: 100%; 
}


.block
{
	
	 left: 15%;
	width: 85%;
	top: 15%;

height: 100%;
	 position: inherit;
}


.block h1
{

font-weight: 600;
line-height: 1.2;
margin: 10px;
font-size: 2em;
position: relative;
display: block;
color: #dc3545;
font-family: roboto;
}

.menu
{
 position: fixed;
 width: 15%;
 height: 100%;
   background:#E0FFFF;
}

.top
{
	position: fixed;
	z-index: 2;
	left: 15%;
	width: 85%;
    height: 15%;
    background: #2F4F4F;
}


.stream
{
border-radius: 10px;
position: relative;
width: 22%;
margin: 1%;
height: 30%;
display: inline-block;
background: #F5FFFA;
transition: 0.4s;
}


.stream:hover
{
transform: scale(1.1, 1.1);
	border: 1px solid #C0C0C0;
}


.stream img
{
	position: inherit;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.stream video
{
	position: inherit;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}


.btn
{
	 position: relative;
	 display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(255, 0, 0) linear-gradient(rgb(255, 0, 0), rgb(255, 0, 0) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
  margin-left: 5%;
  left: 65%;
  top: 30%;
}

.btn:hover
{
  background: rgb(237,91,41) linear-gradient(rgb(226,69,31), rgb(197,91,41) 80%);
  transform: scale(1.1, 1.1);
}


.btn:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.stream h3
{
position: inherit;
font-weight: 400;
line-height: 24px;
color: #777777;
font-size: 15px;
text-align: center;
position: relative;
}




* {box-sizing: border-box;}
.widget {
  padding: 20px 30px;
  height: 100%;
  background: white;
  font-family: 'Roboto', sans-serif;
}



.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 2px solid #b99d61;
}

.widget ul{
	margin-top: 10%;
  padding: 0;
  list-style: none;
}


.widget ul a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
display: inline-block;
margin: 5px;
vertical-align: middle;
line-height: 1.5;
}
.widget ul a:hover {color: #b99d61;
}


.widget li
{
	margin-top: 30%;
}

.widget li img
{
width: 35px;
position: inherit;
height: 35px;
display: inline-block;
  transition: .2s;
}

.widget li img:hover {transform: translateY(-20%);}